:root {
  --basic-red: #ee3643;
  --basic-greylight: #c5c5c5;
  --basic-background-grey: #f1f5f7;
  --color-white: #ffffff;
  --color-black: #000000;
  --darkblue: #293449;
  --color-blue: #32425c;
  --gold: #ffd180;
  --color-dakrred: #ba2732;
  --click-grey: rgba(255, 255, 255, 0.5);
  --click-link-grey: #a9a9a9;
  --red-link: #ca2c37;
  --basic-green: #63a63e;
  --lightgreen: #5fbb2d;
  --darkgreen: #518534;
  --darkgold: #ffbf47;
  --color-snow: #f3f7f9;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.page-body {
  min-width: 960px;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.main-navigation {
  border-color: var(--color-blue);
}

.button,
.navigation-button {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
  text-decoration: none;
}

.company-info {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-black);
}

.button-bookmark {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-blue);
  text-decoration: none;
}

.heading {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.phone {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-decoration: none;
}

.address {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-blue);
}

.login,
.reg {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.navigation-list {
  background-color: var(--color-blue);
}

.menu {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-white);
}

.button-menu {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

.list-reset {
  list-style: none;
}

.slide-info {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--color-white)
}

.slide-description {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-white);
}

.subtitle {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-blue)
}

.subtitle-service {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
}

.price {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
}

.product-info {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-black)
}

.delete {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: var(--click-link-grey);
}

.service-info,
.contacts-info {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.hidden {
  visibility: hidden;
}

.button-transparency {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 24px 10px 23px;
}

.service-list {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

.button-footer {
  color: var(--basic-background-grey);
}

.button-gold {
  color: var(--gold);
}

.copyright {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-white);
}

.feedback,
.developed {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-white);
}

.connection {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--gold);
}
